@font-face {
  font-weight: 800;
  font-style: normal;
  font-family: "Gilroy";

  src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
  url("../fonts/gilroyextrabold.woff") format("woff");

  font-display: swap;
}

@font-face {
  font-weight: 300;
  font-style: normal;
  font-family: "Gilroy";

  src: url("../fonts/gilroylight.woff2") format("woff2"),
  url("../fonts/gilroylight.woff") format("woff");

  font-display: swap;
}

@font-face {
  font-weight: 300;
  font-style: normal;
  font-family: "OpenSans";

  src: url("../fonts/opensanslight.woff2") format("woff2"),
  url("../fonts/opensanslight.woff") format("woff");

  font-display: swap;
}

@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: "OpenSans";

  src: url("../fonts/opensans.woff2") format("woff2"),
  url("../fonts/opensans.woff") format("woff");

  font-display: swap;
}

:root {
  --basic-black: #000000;
  --basic-dark: #363636;
  --basic-grey-light: #E5E5E5;
  --basic-white: #FFFFFF;
  --black-03-op: rgba(0, 0, 0, 0.3);
  --special-green: #91C92F;
  --special-grey: #EAEAEA;
  --special-grey-dark: #DCDCDC;
  --special-grey-light: #F2F2F2;
  --special-grey-pagination: #EBEBEB;
  --special-grey-pagination-next-back: #D9D9D9;
  --special-grey-toggle: #C4C4C4;
  --special-pink-light: #F6DADA;
  --special-yellow: #F7E296;
  --special-yellow-dark: #F0C52E;
  --special-yellow-darker: #FFC600;
  --white-03-op: rgba(255, 255, 255, 0.3);
}

/* GLOBAL */

.page__body {
  display: grid;

  grid-template-rows: min-content 1fr min-content;

  margin: 0;
  padding: 0;

  min-width: 1200px;
  min-height: 100vh;

  background-color: var(--basic-white);

  color: var(--basic-black);

  font-weight: 800;
  font-size: 18px;
  font-family: "Gilroy", Arial, sans-serif;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually__hidden {
  position: absolute;

  overflow: hidden;
  clip: rect(0 0 0 0);

  margin: -1px;
  padding: 0;

  width: 1px;
  height: 1px;

  border: 0;

  white-space: nowrap;

  clip-path: inset(100%);
}

.container {
  margin: 0 auto;
  padding: 0 20px;

  width: 1200px;
}

/* HEADER */

.header__wrapper {
  min-height: 186px;
  width: 1160px;

  background-color: var(--special-yellow);
}

.main__logo {
  position: relative;
  z-index: 2;

  margin-top: 20px;
  margin-bottom: -15px;
  margin-left: 60px;

  width: 163px;
  height: 35px;
}

.main__logo__link:hover {
  opacity: 0.6;
}

.main__logo__link:active {
  opacity: 0.3;
}

.search__form__item {
  position: relative;

  width: 440px;
}

.search__form__item::before {
  position: absolute;
  top: 4px;
  left: 1px;

  width: 16px;
  height: 16px;

  background-image: url(../img/icon-search.svg);
  background-repeat: no-repeat;

  content: "";
}

.search__form__input {
  padding-right: 120px;
  padding-bottom: 14px;
  padding-left: 38px;

  width: 440px;

  outline: none;

  border: none;
  border-bottom: 2px solid transparent;

  background-color: transparent;

  font-weight: 300;
  font-size: 15px;
  font-family: "OpenSans", Arial, Helvetica, sans-serif;

  opacity: 0.3;
}

.search__form__input:hover {
  opacity: 0.6;
}

.search__form__input:focus {
  border-bottom: 2px solid var(--basic-black);

  opacity: 1;
}

.search__form__button {
  position: absolute;
  top: -15px;
  right: 0;

  width: 84px;
  height: 50px;

  border: 2px solid var(--basic-black);

  background-color: transparent;

  text-transform: uppercase;

  opacity: 0;

  cursor: pointer;
}

.search__form__button:hover,
.search__form__button:focus {
  background-color: var(--basic-black);

  color: var(--basic-white);

  opacity: 1;
}

.search__form__button:active {
  background-color: var(--basic-black);

  color: var(--white-03-op);

  opacity: 1;
}

.search__form__input:focus + .search__form__button {
  opacity: 1;
}

.navigation {
  position: relative;

  display: flex;

  flex-wrap: wrap;

  padding-top: 44px;
  padding-right: 60px;
  padding-left: 60px;
}

.search__form {
  margin: 0;
  padding: 0;

  width: 540px;

  list-style: none;
}

.user__nav {
  display: grid;

  grid-template-columns: 1fr 93px 83px;
  grid-template-rows: min-content;

  align-items: center;

  margin: 0;
  margin-bottom: 52px;
  padding: 0;

  width: 500px;

  list-style: none;

  font-weight: 300;
  font-size: 15px;
  font-family: "OpenSans", Arial, Helvetica, sans-serif;

  column-gap: 42px;
}

.user__nav__item {
  position: relative;

  padding-top: 2px;
  padding-left: 24px;
}

.user__nav__item:nth-child(1)::before {
  position: absolute;
  top: 50%;
  left: 0;

  width: 13px;
  height: 14px;

  background-image: url(../img/login.svg);

  content: "";

  transform: translateY(-40%);
}

.user__nav__item:nth-child(2)::before {
  position: absolute;
  top: 50%;
  left: 0;

  width: 14px;
  height: 14px;

  background-image: url(../img/compare.svg);

  content: "";

  transform: translateY(-40%);
}

.user__nav__item:nth-child(3)::before {
  position: absolute;
  top: 50%;
  left: 0;

  width: 10px;
  height: 10px;

  background-image: url(../img/cart.svg);

  content: "";

  transform: translateY(-40%);
}

.user__nav__link {
  color: inherit;
}

.user__nav__link:hover {
  opacity: 0.6;
}

.user__nav__link:active {
  opacity: 0.3;
}

.user__nav__link__name {
  margin-right: 17px;
}

.user__nav__link__logout {
  opacity: 0.3;
}

.main__nav {
  display: flex;

  margin: 0;
  margin-bottom: 40px;
  padding: 0;

  width: 1040px;

  list-style: none;

  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.main__nav__link {
  color: inherit;
}

.main__nav__link:hover {
  opacity: 0.6;
}

.main__nav__link:active {
  opacity: 0.3;
}

.main__nav__item:first-child {
  position: relative;

  margin-right: 283px;
}

.main__nav__item:first-child .main__nav__link {
  padding-right: 38px;
}

.main__nav__item:first-child::after {
  position: absolute;
  top: -1px;
  right: 2px;

  width: 22px;
  height: 22px;

  background-image: url(../img/icon-plus.svg);

  content: "";

  cursor: pointer;
}

.main__nav__item:nth-child(2) {
  margin-right: 35px;
}

.main__nav__item:nth-child(3) {
  margin-right: 107px;
}

.catalog__menu {
  position: absolute;
  top: 20px;
  left: -60px;
  z-index: 3;

  display: none;

  grid-template-columns: max-content max-content max-content;
  grid-template-rows: auto;

  flex-wrap: wrap;

  margin: 0;
  padding: 0;
  padding-top: 32px;
  padding-right: 570px;
  padding-bottom: 42px;
  padding-left: 60px;

  width: 1160px;

  background-color: var(--special-yellow);

  list-style: none;

  text-transform: none;
  letter-spacing: normal;

  font-weight: 300;
  font-size: 15px;
  font-family: "OpenSans", Arial, Helvetica, sans-serif;

  column-gap: 63px;

  row-gap: 20px;
}

.main__nav__item:hover .catalog__menu {
  display: grid;
}

.catalog__menu:hover {
  display: grid;
}

.catalog__menu.current {
  display: grid;
}

.catalog__menu__link {
  color: inherit;
}

.catalog__menu__link:hover {
  opacity: 0.6;
}

.catalog__menu__link:active {
  opacity: 0.3;
}

/* MAIN */

.main__container {
  margin-bottom: 77px;
}

/* GALLERY */

.gallery {
  margin-bottom: 99px;
}

.gallery__slider {
  margin: 0;
  padding: 0;
  padding-right: 60px;
  padding-left: 60px;

  min-height: 491px;

  background-image: linear-gradient(180deg, var(--special-yellow) 114px, var(--basic-white) 114px);

  list-style: none;
}

.gallery__slider__item {
  display: grid;

  grid-template-columns: 1fr 1fr;
}

.gallery__slider__img {
  position: relative;
  top: -14px;
  left: 30px;
}

.gallery__slider__img_slide2 {
  top: 11px;
  left: 56px;
}

.gallery__slider__img_slide3 {
  top: 67px;
  left: -27px;
}

.gallery__slider__content {
  padding-top: 78px;
  padding-left: 20px;
}

.gallery__slider__title {
  position: relative;
  z-index: 2;

  margin: 0;
  margin-bottom: 27px;

  font-size: 47px;

  line-height: 58px;
}

.gallery__slider__title::before {
  position: absolute;
  top: -59px;
  left: 0;

  width: 100px;
  height: 7px;

  background-color: var(--basic-white);

  content: "";
}

.gallery__slider__title::after {
  position: absolute;
  top: -29px;
  right: -12px;
  z-index: -1;

  color: var(--basic-white);

  content: attr(data-count);

  font-size: 179px;
}

.gallery__slider__title_slide2::after,
.gallery__slider__title_slide3::after {
  top: -29px;
  right: -6px;
}

.gallery__slider__text {
  margin: 0;
  margin-bottom: 51px;

  font-weight: 300;
  font-size: 15px;
  font-family: "OpenSans", Arial, Helvetica, sans-serif;

  line-height: 20px;
}

.button {
  display: inline-block;

  padding-top: 9px;
  padding-bottom: 9px;

  width: 220px;

  border: none;

  background-color: transparent;
  background-image: linear-gradient(0deg, transparent 0%, transparent 39%, var(--special-yellow-dark) 39%, var(--special-yellow-dark) 61%, transparent 61%, transparent 100%);

  color: inherit;

  vertical-align: top;
  text-align: center;

  text-transform: uppercase;
  letter-spacing: 0.2em;

  font-weight: 800;
  font-size: 18px;
  font-family: "Gilroy", Arial, sans-serif;
}

.button:hover {
  background-image: linear-gradient(0deg, var(--special-yellow-dark) 0%, var(--special-yellow-dark) 100%);
}

.button:active {
  background-color: var(--special-yellow-dark);

  color: var(--black-03-op);
}

.gallery__slider__link {
  margin-bottom: 52px;
  padding-left: 5px;
}

.gallery__slider__list {
  display: grid;

  grid-template-columns: max-content max-content max-content;
  grid-template-rows: auto;

  margin: 0;
  padding: 0;

  column-gap: 62px;
}

.gallery__slider__content__item {
  display: flex;

  flex-direction: column;

  margin: 0;
}

.gallery__slider__subtitle {
  margin: 0;
  margin-bottom: 16px;

  letter-spacing: 0.1em;

  font-weight: 300;
  font-size: 36px;
}

.gallery__slider__desc {
  margin: 0;

  letter-spacing: 0.1em;

  font-weight: 300;
  font-size: 13px;
}

.gallery__wrapper {
  position: relative;
}

.gallery__slider__control {
  position: absolute;
  top: 320px;
  right: 108px;

  user-select: none;
}

.gallery__slider__control__button {
  width: 12px;
  height: 12px;

  border: none;
  border-radius: 50%;

  background-color: var(--basic-white);

  box-shadow: inset 0 0 0 1px var(--basic-black);

  cursor: pointer;
}

.gallery__slider__control__button:not(:last-child) {
  margin-right: 13.5px;
}

.gallery__slider__control__button.current {
  box-shadow: inset 0 0 0 1px var(--basic-black),
  inset 0 0 0 3px var(--basic-white),
  inset 0 0 0 4px var(--basic-black);

  cursor: default;
}

/* POPULAR */

.popular {
  margin-bottom: 53px;
}

.popular__list {
  display: grid;

  grid-template-columns: repeat(6, 160px);

  margin: 0;
  padding: 0;

  list-style: none;

  column-gap: 40px;
}

.popular__item {
  position: relative;

  background-image: linear-gradient(180deg, var(--special-yellow) 0%, var(--special-yellow) 160px, var(--basic-white) 160px);
}

.popular__item:hover {
  background-image: linear-gradient(180deg, var(--special-yellow-dark) 0%, var(--special-yellow-dark) 160px, var(--basic-white) 160px);
}

.popular__item:active::before {
  opacity: 0.3;
}

.popular__item::before {
  position: absolute;

  background-repeat: no-repeat;

  content: "";
}

.popular__item:nth-child(1)::before {
  top: 52px;
  left: 31px;

  width: 97px;
  height: 55px;

  background-image: url(../img/popular-1.svg);
}

.popular__item:nth-child(2)::before {
  top: 26px;
  left: 37px;

  width: 86px;
  height: 117px;

  background-image: url(../img/popular-2.svg);
}

.popular__item:nth-child(3)::before {
  top: 36px;
  left: 44px;

  width: 71px;
  height: 87px;

  background-image: url(../img/popular-3.svg);
}

.popular__item:nth-child(4)::before {
  top: 48px;
  left: 27px;

  width: 107px;
  height: 65px;

  background-image: url(../img/popular-4.svg);
}

.popular__item:nth-child(5)::before {
  top: 31px;
  left: 52px;

  width: 56px;
  height: 98px;

  background-image: url(../img/popular-5.svg);
}

.popular__item:nth-child(6)::before {
  top: 46px;
  left: 14px;

  width: 132px;
  height: 69px;

  background-image: url(../img/popular-6.svg);
}

.popular__link {
  position: relative;
  z-index: 3;

  display: block;

  padding-top: 198px;

  width: 160px;
  height: 260px;

  color: inherit;

  letter-spacing: 0.05em;

  line-height: 22px;
}

.popular__link:active {
  opacity: 0.3;
}

.popular__link.special {
  letter-spacing: normal;
}

/* SERVICES */

.services {
  margin-bottom: 90px;

  min-height: 403px;

  background-image: linear-gradient(180deg, var(--basic-white) 0%, var(--basic-white) 113px, var(--basic-grey-light) 113px);
}

.services__wrapper {
  display: grid;

  grid-template-columns: 360px 760px;

  column-gap: 40px;
}

.services__list__control {
  margin: 0;
  padding: 0;
  padding-top: 94px;
  padding-left: 1px;

  list-style: none;
}

.services__list__control__link {
  margin-bottom: 23px;

  width: 160px;
}

.services__list__control__link.current,
.services__list__control__link:active {
  padding-right: 117px;

  width: 276px;

  background-color: var(--basic-black);
  background-image: none;

  color: var(--special-yellow);

  cursor: default;
}

.services__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.services__item {
  position: relative;
}

.services__item::before {
  position: absolute;
  top: 14px;
  left: -123px;

  width: 7px;
  height: 320px;

  background-color: var(--basic-black);

  content: "";
}

.services__item:nth-child(1)::before {
  top: 13px;
}

.services__item::after {
  position: absolute;

  content: "";
}

.services__item:nth-child(1)::after {
  top: 84px;
  right: 2px;

  width: 136px;
  height: 164px;

  background-image: url(../img/delivery.svg);
}

.services__item:nth-child(2)::after {
  top: 67px;
  right: -16px;

  width: 171px;
  height: 195px;

  background-image: url(../img/warranty.svg);
}

.services__item:nth-child(3)::after {
  top: 62px;
  right: 8px;

  width: 156px;
  height: 188px;

  background-image: url(../img/credit.svg);
}

.services__title {
  margin: 0;
  margin-bottom: 42.5px;
  padding-top: 86px;

  letter-spacing: 0.2em;

  font-size: 47px;
}

.services__text {
  margin: 0;

  width: 570px;

  letter-spacing: 0.1em;

  font-weight: 300;
  font-size: 15px;
  font-family: "OpenSans", Arial, Helvetica, sans-serif;

  line-height: 30px;
}

/* PARTNERS */

.partners {
  margin-bottom: 90px;
}

.partners__list {
  display: grid;

  grid-template-columns: repeat(4, 260px);

  margin: 0;
  padding: 0;

  list-style: none;

  column-gap: 40px;
}

.partners__link {
  opacity: 0.3;
  filter: grayscale(100%);
}

.partners__link:hover {
  opacity: 1;
  filter: grayscale(0);
}

/* INFO */

.info {
  padding-top: 52px;
}

.info__wrapper {
  display: grid;

  grid-template-columns: 500px 560px;

  column-gap: 100px;
}

/* ABOUT */

.about__title {
  position: relative;

  margin: 0;
  margin-bottom: 43px;

  letter-spacing: 0.2em;

  font-size: 47px;
}

.about__title::before,
.contacts__title::before {
  position: absolute;
  top: -58.5px;
  left: 0;

  width: 80px;
  height: 7px;

  background-color: var(--basic-black);

  content: "";
}

.about__lead,
.about__text,
.contacts__text {
  margin: 0;

  font-weight: 300;
  font-size: 15px;
  font-family: "OpenSans", Arial, Helvetica, sans-serif;

  line-height: 28px;
}

.about__lead {
  margin-bottom: 40px;
}

.about__text {
  margin-bottom: 64px;
}

.about__list {
  margin: 0;
  margin-bottom: 75px;
  padding: 0;

  list-style: none;
}

.about__item {
  position: relative;

  margin-bottom: 25px;
  padding-left: 32px;

  font-size: 16px;
}

.about__item::before {
  position: absolute;
  top: 5px;
  left: 0;

  width: 8px;
  height: 8px;

  border: 2px solid var(--basic-grey-light);
  border-radius: 50%;

  content: "";
}

.about__link {
  padding-left: 5px;

  width: 260px;
}

/* CONTACTS */

.contacts__title {
  position: relative;

  margin: 0;
  margin-bottom: 43px;

  letter-spacing: 0.2em;

  font-size: 47px;
}

.contacts__text {
  margin: 0;
  margin-bottom: 39px;
}

.contacts__link {
  padding-left: 3px;

  width: 260px;
}

.contacts__img {
  margin-bottom: 73px;
}

.contacts__map {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 5;

  display: none;

  margin-top: -300px;
  margin-left: -479px;

  width: 960px;
  height: 559px;

  border: none;

  box-shadow: 0 10px 16px 0 var(--black-03-op);
}

.show {
  animation-name: show;
  animation-duration: 1s;
}

.hide {
  animation-name: hide;
  animation-duration: 1.1s;
}

@keyframes show {
  from {
    opacity: 0;
    transform: translateY(-800px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes hide {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(-800px);
  }
}

.contacts__map.current {
  display: block;
}

.contacts__map__button,
.contacts__popup__button {
  position: absolute;
  top: 22px;
  right: 19px;

  width: 55px;
  height: 55px;

  border: none;
  border-radius: 50%;

  background-image: url(../img/button_close.svg);

  content: "";

  opacity: 0.5;;
}

.contacts__popup__button {
  top: 19px;
  right: 20px;
}

.contacts__map__button:hover,
.contacts__popup__button:hover {
  opacity: 1;
}

.contacts__map__button:active,
.contacts__popup__button:active {
  opacity: 0.3;
}

.contacts__popup {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 6;

  display: none;

  margin-top: -300px;
  margin-left: -480px;

  width: 960px;
  height: 550px;
}

.contacts__popup__form {
  display: grid;

  grid-template-areas: "name email"
  "textarea textarea"
  "button .";
  grid-template-columns: 360px 360px;
  grid-template-rows: min-content min-content min-content;

  padding-top: 92px;
  padding-right: 100px;
  padding-left: 100px;

  width: 960px;
  height: 550px;

  background-color: var(--basic-white);

  box-shadow: 0 10px 16px 0 var(--black-03-op);

  column-gap: 40px;

  row-gap: 33px;
}

.contacts__popup__item {
  display: flex;

  flex-direction: column;
}

.contacts__popup.current {
  display: block;
}

.contacts__popup__item:nth-child(1) {
  grid-area: name;

  margin: 0;
}

.contacts__popup__item:nth-child(2) {
  grid-area: email;

  margin: 0;
}

.contacts__popup__item:nth-child(3) {
  grid-area: textarea;

  margin: 0;
  margin-bottom: 13px;
}

.contacts__popup__submit {
  grid-area: button;

  width: 200px;
}

.popup__input {
  padding-top: 16px;
  padding-right: 20px;
  padding-bottom: 15px;
  padding-left: 19px;

  width: 360px;
  height: 50px;

  border: 2px solid var(--special-grey-light);

  background-color: var(--special-grey-light);

  font-weight: 400;
  font-size: 14px;
  font-family: "OpenSans", Arial, Helvetica, sans-serif;
}

.contacts__popup__text__textaarea {
  width: 760px;
  height: 167px;

  resize: none;
}

.popup__input:hover {
  border: 2px solid var(--special-grey);

  background-color: var(--special-grey);
}

.popup__input:focus {
  outline: none;

  border: 2px solid var(--special-yellow);

  background-color: var(--basic-white);;
}

.popup__input:invalid,
.popup__input:focus:invalid,
.popup__input:hover:invalid {
  background-color: var(--special-pink-light);
}

.contacts__popup__name,
.contacts__popup__email,
.contacts__popup__text {
  margin-bottom: 11px;
}

.contacts__popup.current {
  display: grid;
}

@keyframes wrong {
  20% {
    background-color: var(--special-pink-light);

    transform: translateX(-10px);
  }

  40% {
    transform: translateX(10px);
  }

  60% {
    transform: translateX(-10px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(-10px);
  }
}

.wrong {
  animation: wrong 0.5s;
}

/* FOOTER */

.footer {
  min-height: 324px;

  background-color: var(--basic-dark);
}

.footer__wrapper {
  display: grid;

  grid-template-columns: 300px 800px;

  column-gap: 60px;
}

.footer__address {
  padding-top: 64px;
}

.footer__address__link,
.footer__address__link__index {
  display: inline-block;

  margin-bottom: 38px;

  vertical-align: top;
}

.footer__address__link:hover {
  opacity: 0.6;
}

.footer__address__link:active {
  opacity: 0.3;
}

.footer__adress__text {
  position: relative;

  margin: 0;

  color: var(--basic-white);

  font-weight: 300;
  font-size: 15px;
  font-family: "OpenSans", Arial, Helvetica, sans-serif;
}

.footer__adress__text::after {
  position: absolute;
  top: 97.5px;
  left: 0;

  width: 80px;
  height: 7px;

  background-color: var(--special-yellow-darker);

  content: "";
}

/* FOOTER NAVIGATION */

.footer__nav {
  display: grid;

  grid-template-areas: "footer__user__list footer__user__list"
  "footer__nav__list footer__contacts"
  "footer__social__list footer__contacts";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, min-content);

  gap: 0 0;
}

.footer__user__list {
  display: grid;

  grid-area: footer__user__list;
  grid-template-columns: repeat(3, max-content);

  margin: 0;
  margin-bottom: 72px;
  padding: 0;
  padding-top: 46px;

  list-style: none;

  column-gap: 40px;

  justify-self: end;
}

.footer__user__link {
  padding-left: 25px;

  color: var(--basic-white);

  font-weight: 300;
  font-size: 15px;
  font-family: "OpenSans", Arial, Helvetica, sans-serif;

  opacity: 0.7;
}

.footer__user__link:hover {
  opacity: 1;
}

.footer__user__link:active {
  opacity: 0.3;
}

.footer__user__link__logout {
  padding-left: 20px;
}

.footer__user__item {
  position: relative;
}

.footer__user__item:nth-child(1)::before {
  position: absolute;
  top: 50%;
  left: 0;

  width: 13px;
  height: 14px;

  background-image: url(../img/user-footer.svg);

  content: "";

  transform: translateY(-40%);
}

.footer__user__item:nth-child(2)::before {
  position: absolute;
  top: 50%;
  left: 0;

  width: 14px;
  height: 14px;

  background-image: url(../img/chart-footer.svg);

  content: "";

  transform: translateY(-40%);
}

.footer__user__item:nth-child(3)::before {
  position: absolute;
  top: 50%;
  left: 2px;

  width: 10px;
  height: 10px;

  background-image: url(../img/cart-footer.svg);

  content: "";

  transform: translateY(-50%);
}

.footer__nav__list {
  display: flex;

  flex-wrap: wrap;
  justify-content: center;

  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  padding-left: 0;

  width: 475px;

  list-style: none;
}

.footer__nav__item {
  margin-right: 33px;
  margin-bottom: 33px;
}

.footer__nav__link {
  color: var(--basic-white);

  text-transform: uppercase;
  letter-spacing: 0.2em;

  font-size: 18px;
}

.footer__nav__link:hover {
  opacity: 0.6;
}

.footer__nav__link:active {
  opacity: 0.3;
}

.footer__contacts {
  display: grid;

  grid-area: footer__contacts;

  justify-self: end;
}

.footer__contacts__link {
  padding-top: 2px;

  color: var(--basic-white);

  font-weight: 300;
  font-size: 15px;
  font-family: "OpenSans", Arial, Helvetica, sans-serif;
}

.footer__contacts__logo {
  display: inline-block;

  align-self: end;

  margin-bottom: 19px;

  vertical-align: top;

  justify-self: end;
}

.footer__contacts__logo:hover {
  opacity: 0.6;
}

.footer__contacts__logo:active {
  opacity: 0.3;
}

.footer__social__list {
  display: flex;

  flex-wrap: wrap;
  justify-content: center;

  margin: 0;
  margin-right: 20px;
  padding: 0;
  padding-left: 5px;

  list-style: none;
}

.footer__social__item {
  margin-right: 20px;
  margin-bottom: 20px;
}

.footer__social__link:hover {
  opacity: 0.6;
}

.footer__social__link:active {
  opacity: 0.3;
}

/* CATALOG */

.header__catalog {
  margin-bottom: 46px;
}

/* MAIN */

.main__title {
  margin: 0;
  margin-bottom: 30px;
  padding-left: 60px;

  font-size: 47px;
}

.breadcrumbs__list {
  display: flex;

  margin: 0;
  padding: 0;
  padding-left: 60px;

  list-style: none;
}

.breadcrumbs__item {
  position: relative;

  margin-right: 40px;
}

.breadcrumbs__item:not(:last-child)::after,
.breadcrumbs__item:not(:last-child)::before {
  position: absolute;
  top: 10px;
  right: -23px;

  width: 5px;
  height: 1px;

  background-color: var(--basic-black);

  content: "";

  transform: rotate(45deg);
}

.breadcrumbs__item:not(:last-child)::before {
  top: 13px;

  transform: rotate(-45deg);
}

.breadcrumbs__link {
  color: inherit;

  font-weight: 300;
  font-size: 14px;
  font-family: "OpenSans", Arial, Helvetica, sans-serif;

  opacity: 0.3;
}

.breadcrumbs__link:hover {
  opacity: 0.6;
}

.breadcrumbs__link:active {
  opacity: 0.1;
}

.breadcrumbs__link.current,
.breadcrumbs__link.current:hover,
.breadcrumbs__link.current:active {
  opacity: 0.3;
}

.breadcrumbs__wrapper {
  margin-bottom: 50px;
}

/* SORT */

.sort {
  min-height: 70px;

  background: linear-gradient(90deg, var(--special-grey-dark) 0%, var(--special-grey-dark) 50%, var(--basic-grey-light) 50%);
}

.wrapper {
  min-height: 1214px;

  background: linear-gradient(90deg, var(--basic-grey-light) 0%, var(--basic-grey-light) 50%, var(--basic-white) 50%);
}

.sort__wrapper {
  display: flex;

  margin-left: 328px;
  padding-top: 25px;
  padding-left: 72px;

  min-height: 70px;
  width: 832px;

  background-color: var(--basic-grey-light);
}

.sort__title {
  margin: 0;
  margin-right: 73px;
  padding-top: 1px;

  text-transform: uppercase;
  letter-spacing: 0.1em;

  font-size: 16px;
}

.sort__list {
  position: relative;

  display: flex;

  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  width: 440;

  list-style: none;
}

.sort__item {
  margin-right: 30px;
}

.sort__link {
  color: inherit;

  font-weight: 400;
  font-size: 14px;
  font-family: "OpenSans", Arial, Helvetica, sans-serif;

  opacity: 0.3;
}

.sort__link__up {
  position: absolute;
  top: 5px;
  right: -143px;

  width: 0;
  height: 0;

  border-width: 0 5.5px 11px 5.5px;
  border-style: solid;
  border-color: transparent transparent #000000 transparent;

  opacity: 0.2;
}

.sort__link__down {
  position: absolute;
  top: 5px;
  right: -177.5px;

  width: 0;
  height: 0;

  border-width: 0 5.5px 11px 5.5px;
  border-style: solid;
  border-color: transparent transparent #000000 transparent;

  opacity: 0.2;
  transform: rotate(180deg);
}

.sort__link__down:hover,
.sort__link__up:hover {
  opacity: 0.4;
}

.sort__link__down:active,
.sort__link__up:active {
  opacity: 1;
}

.sort__link:hover {
  opacity: 0.6;
}

.sort__link:active {
  opacity: 1;
}

.sort__link.current {
  opacity: 1;
}

/* FILTER RANGE */

.filter {
  padding-left: 60px;
}

.filter__heading {
  margin: 0;
  margin-top: -44px;
  margin-bottom: 113px;

  text-transform: uppercase;
  letter-spacing: 0.1em;

  font-size: 16px;
}

.filter__range {
  margin: 0;
  margin-bottom: 54px;
  padding: 0;

  border: none;
}

.filter__range__title {
  margin-bottom: 29.5px;

  letter-spacing: 0.1em;

  font-size: 14px;
}

.range__controls {
  position: relative;

  margin-bottom: 8px;

  width: 200px;
  height: 20px;
}

.scale {
  position: absolute;
  top: 50%;
  left: 0;

  width: 200px;
  height: 2px;

  background-color: var(--black-03-op);
}

.bar {
  height: 2px;

  background-color: var(--special-green);
}

.toggle {
  position: absolute;

  width: 20px;
  height: 20px;

  border-radius: 50%;

  background-color: var(--basic-white);

  box-shadow: 0 2px 2px var(--black-03-op),
  inset 0 0 0 8px var(--basic-white),
  inset 0 0 0 11px var(--special-grey-toggle);

  cursor: pointer;
}

.price__controls {
  display: flex;

  width: 200px;

  font-weight: 300;
  font-size: 14px;
}

.min__price {
  margin-right: 32px;
}

.price__input {
  padding-left: 4px;

  width: 50px;

  border: none;

  background: transparent;
}

/* FILTER COLOR */

.filter__color {
  display: flex;

  flex-direction: column;

  margin: 0;
  margin-bottom: 56px;
  padding: 0;

  border: none;
}

.filter__color__title {
  margin-bottom: 31.5px;

  letter-spacing: 0.1em;

  font-size: 14px;
}

.filter__color__desc {
  position: relative;

  padding-left: 42px;

  font-weight: 300;
  font-size: 14px;
  font-family: "OpenSans", Arial, Helvetica, sans-serif;
}

.filter__color__desc::before {
  position: absolute;
  top: 50%;
  left: 0;

  width: 24px;
  height: 24px;

  border: 2px solid var(--basic-black);
  border-radius: 2px;

  background-color: var(--basic-grey-light);

  content: "";

  transform: translateY(-50%);
}

.filter__color__label:not(:last-child) {
  margin-bottom: 18.5px;
}

.filter__color__input:checked + .filter__color__desc::after {
  position: absolute;
  top: 50%;
  left: 5px;

  width: 13.54px;
  height: 10.5px;

  background-image: url("data:image/svg+xml,%3Csvg width='14' height='11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.08 3.75L.38 5.5l5.08 5.25L13.92 2 12.23.25l-6.77 7-3.38-3.5z' fill='%23000'/%3E%3C/svg%3E");

  content: "";

  transform: translateY(-50%);
}

.filter__color__label:hover .filter__color__desc::after,
.filter__color__label:hover .filter__color__desc::before {
  opacity: 0.6;
}

.filter__color__input:disabled ~ .filter__color__desc {
  opacity: 0.25;
}

.filter__title {
  position: relative;
}

.filter__title::before {
  position: absolute;
  top: -17px;
  left: 0;

  width: 200px;
  height: 2px;

  background-color: var(--basic-black);

  content: "";
}

/* FILTER FEATURES */

.filter__features {
  display: flex;

  flex-direction: column;

  margin: 0;
  margin-bottom: 44px;
  padding: 0;

  border: none;
}

.filter__features__title {
  margin-bottom: 32px;

  letter-spacing: 0.1em;

  font-size: 14px;
}

.filter__features__desc {
  padding-left: 40px;

  font-weight: 300;
  font-size: 14px;
  font-family: "OpenSans", Arial, Helvetica, sans-serif;
}

.filter__features__label:not(:last-child) {
  margin-bottom: 19px;
}

.filter__features__button {
  padding-left: 0;

  width: 200px;
}

.filter__features__desc {
  position: relative;
}

.filter__features__desc::before {
  position: absolute;
  top: 50%;
  left: 0;

  width: 24px;
  height: 24px;

  border: 2px solid var(--basic-black);
  border-radius: 50%;

  content: "";

  transform: translateY(-50%);
}

.filter__features__input:checked + .filter__features__desc::after {
  position: absolute;
  top: 50%;
  left: 8px;

  width: 8px;
  height: 8px;

  border-radius: 50%;

  background-color: var(--basic-black);

  content: "";

  transform: translateY(-50%);
}

.filter__features__label:hover .filter__features__desc::after,
.filter__features__label:hover .filter__features__desc::before {
  opacity: 0.6;
}

.filter__features__input:disabled ~ .filter__features__desc {
  opacity: 0.25;
}

/* GOODS */

.content__wrapper {
  display: grid;

  grid-template-columns: 328px 832px;
}

.goods {
  min-height: 1214px;

  background-color: var(--basic-white);
}

.goods__list {
  display: grid;

  grid-template-columns: 360px 360px;

  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  padding-top: 70px;
  padding-left: 72px;

  list-style: none;

  column-gap: 40px;

  row-gap: 47px;
}

.goods__item {
  position: relative;
}

.goods__new::after {
  position: absolute;
  top: 30px;
  right: 27px;
  z-index: 10;

  width: 62px;
  height: 62px;

  background-image: url("data:image/svg+xml,%3Csvg width='62' height='62' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.4 26.6h1.92V35h-1.44l-3.24-4.56V35h-1.92v-8.4h1.44l3.24 4.56V26.6zm5.28 6.55h3.36V35h-5.28v-8.4h5.22v1.85h-3.3v1.39h3v1.82h-3v1.5zM33.84 35l-2.32-8.4h2.02l1.45 5.88 1.62-5.88h1.56l1.62 5.88 1.45-5.88h2.02L40.94 35h-2.18l-1.37-4.96L36.02 35h-2.18z' fill='%23000' fill-opacity='.3'/%3E%3Ccircle cx='31' cy='31' r='30' stroke='%23000' stroke-opacity='.3' stroke-width='2'/%3E%3C/svg%3E");

  content: "";

  clip-path: none;
}

.goods__img {
  margin-bottom: 26px;

  background-color: var(--basic-dark);

  transition-duration: 0.5s;
}

.goods__desc {
  display: flex;

  justify-content: space-between;

  min-height: 44px;
}

.goods__title {
  margin: 0;

  width: 270px;

  letter-spacing: 0.05em;

  line-height: 22px;
}

.goods__price {
  margin: 0;
  padding-top: 3px;

  letter-spacing: 0.05em;

  font-weight: 300;
  font-size: 16px;
}

.goods__popup {
  position: absolute;
  top: 171px;
  left: 77px;

  display: flex;

  align-items: center;
  flex-direction: column;

  opacity: 0;
  transition-duration: 0.5s;
}

.goods__item:hover .goods__img {
  opacity: 0.7;
}

.goods__item:hover .goods__popup {
  opacity: 1;
}

.goods__popup__button {
  margin-bottom: 16px;
  padding-left: 1px;

  width: 200px;
}

.goods__popup__link {
  color: inherit;

  letter-spacing: 0.1em;

  font-weight: 300;
  font-size: 13px;
  font-family: "OpenSans", Arial, Helvetica, sans-serif;

  opacity: 0.5;
}

.goods__popup__link:hover {
  opacity: 1;
}

.goods__popup__link:active {
  opacity: 0.2;
}

/* GOODS PAGINATION */

.goods__pagination__list {
  display: flex;

  align-items: center;
  justify-content: space-between;

  margin: 0;
  margin-bottom: 78px;
  margin-left: 72px;
  padding: 0;

  min-height: 70px;
  width: 760px;

  background-color: var(--special-grey-pagination);

  list-style: none;
}

.goods__pagination__inner__list {
  display: flex;

  flex-wrap: wrap;

  margin: 0;
  padding: 0;
  padding-left: 36px;

  max-width: 500px;

  list-style: none;
}

.goods__pagination__inner__item {
  margin-right: 29px;
}

.goods__back,
.goods__next,
.goods__pagination__link {
  color: inherit;

  text-transform: uppercase;
  letter-spacing: 0.1em;

  font-size: 16px;
}

.goods__pagination__link {
  opacity: 0.3;
}

.goods__pagination__link:hover {
  opacity: 0.6;
}

.goods__pagination__link:active {
  opacity: 1;
}

.goods__pagination__link.current {
  opacity: 1;
}

.goods__back,
.goods__next {
  padding: 25px 30px;
}

.goods__back:hover,
.goods__next:hover {
  padding: 25px 30px;

  background-color: var(--special-grey-pagination-next-back);
}

.goods__back:active,
.goods__next:active {
  color: var(--black-03-op);
}
